{{!-- подключение блоков из папки partials --}}
{{> head }} 
<body>
{{> navbar }} 

    <div class="container">
{{!-- подключение страниц из папки views (указана в кофигурации index.js) --}}
        {{{ body }}}

        {{> footer}}
    </div>
</body>
</html>