<h1>Add new Course</h1>

<form action="/add" method="post">
    <div class="input-field">
        <input placeholder="title" name="c-name" id="c-title" type="text" class="validate" required>
        <label for="c-title">Course Name</label>
        <span class="helper-text" data-error="Write Course name"></span>
    </div>
    <div class="input-field">
        <input placeholder="Price (BYN)" name="c-price" id="c-price" type="text" pattern="\d+" class="validate" required>
        <label for="c-price">Course Price (BYN)</label>
        <span class="helper-text" data-error="Write Course price"></span>
    </div>
    <div class="input-field">
        <input placeholder="Image" name="c-image" id="c-image" type="text" class="validate" required>
        <label for="c-image">Course Image</label>
        <span class="helper-text" data-error="Write url image"></span>
    </div>

    <button class="btn btn-primary">Add Course</button>
</form>